/* Museo Sans - 100 */
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.jsdelivr.net/gh/ali-ws/webfonts@v3/MuseoSans/MuseoSans-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Museo Sans - 300 */
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.jsdelivr.net/gh/ali-ws/webfonts@v3/MuseoSans/MuseoSans-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Museo Sans - 500 */
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.jsdelivr.net/gh/ali-ws/webfonts@v3/MuseoSans/MuseoSans-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Museo Sans - 700 */
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.jsdelivr.net/gh/ali-ws/webfonts@v3/MuseoSans/MuseoSans-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Museo Sans - 900 */
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.jsdelivr.net/gh/ali-ws/webfonts@v3/MuseoSans/MuseoSans-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}